/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}
body{
	background-color: #f8f8f8;
}
.book-library{
	background-color: #ffffff;
	margin-top: 15px;
}
p{
	font-size: small;
}
.book{
	margin: 25px;
}
.author{
	color: #777777;
	margin: 4px;
}
h1{
	text-align: center;
	padding-top: 14px;
}
.price{
	background-color: #2ecc71;
	text-align: center;
	margin: 4px;
	padding: 4px;
}